.app__happy-hours {
  height: 90vh;
  position: relative;
}
.app__happy-hours-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.587);
}
.app__happy-hours-overlay-text {
  flex-direction: column;
  text-align: center;
  height: 100px;
  padding: 20px;
}
@media screen and (max-width: 650px) {
  .app__happy-hours-overlay-text h1:first-child {
    line-height: 90px;
  }
}
